<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kyra Helmbold</title>
    <link rel="stylesheet" href="/components/header/header.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"> <!-- for linkedin, git, resume logos-->
</head>

<body>
    <header> 
        <div>
            <h1>Kyra Helmbold</h1>
            <p>kyra.helmbold [@] gmail.com</p>
        </div>
        <nav>
            <ul class="nav-links">
                <li><a href="https://www.linkedin.com/in/kyra-helmbold/" target="_blank"><i class="fab fa-linkedin"></i> LinkedIn</a></li>
                <li><a href="https://github.com/kyra-h/" target="_blank" ><i class="fab fa-github"></i> GitHub</a></li>
                <li><a href="pdfs/Helmbold_Kyra_Resume.pdf" target="_blank"><i class="fas fa-file-alt"></i> Resume</a></li>
            </ul>
        </nav>
        <!-- <div class="breadcrumb">
            <li><a href = "/">Return to Home</a>
        </div> -->
    </header>
</body>
</html>